<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>HTML Table</title>
</head>
<body>
  <table class="table table-dark">
    <tr>
      <th class="table_head" scope="col">First Name</th>
      <th class="table_head" scope="col">Last Name</th>
      <th class="table_head" scope="col">Full Name</th>
    </tr>
    {% for i in users %}
    <tr class="user">
      <td scope="row">{{ i.first_name }}</td>
      <td scope="row">{{ i.last_name }}</td>
      <td scope="row">{{ i.first_name }} {{ i.last_name }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>