<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <title>The Great Number Game!</title>
</head>
<body>
<div class="wrapper">
  <h1>Welcome to the Great Number Game!</h1>
  <h4>I am thinking of a number between 1 and 100</h4>
  <h3>Take a Guess!</h3>
  <form action="/guess" method="post">
    <input type="number" min="1" max="100" name="guess" id="guess">
    <input type="submit" class="submit" value="Submit!">
  </form>
</div>
</body>
</html>