*{
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
body{
  background-color: paleturquoise;
}

h1{
  text-align: center;
  color: blue;
  background-color: paleturquoise;
  margin-bottom: 20px;
}
h3{
  text-align: center;
  color: palevioletred;
  background-color: paleturquoise;
}
p{
  text-align: center;
  font-size: large;
  margin-top: 30px;
  margin-bottom: 30px;
}
.button{
  width: 130px;
  background-color: lightcoral;
  margin: 0 auto;
  display: block;
  border-radius: 35%;
}